<%- include('./template/header'); %>

<h1>Conversão</h1>
<form class="form-convert" method="GET" action="/">

  <input type="text" name="fromCoinValue" id="fromCoinValue" value="<%= fromCoinValue %>" />

  <select id="fromCoinCode" name="fromCoinCode">
    <% selectCoin.forEach(coin => { %>
    <option value="<%= coin.code %>" <%- coin.code == fromCoinCode ? "selected" : ""  %>><%= coin.name %></option>
    <% }) %>
  </select>

  <input id="quotation" type="text" name="toCoinValue" value="<%= quotation.ask %>" />
  <p id="message"></p>

  <select id="toCoinCode" name="toCoinCode"></select>

  <button type="submit">Converter</button>
</form>

<%- include('./template/footer') %>
